<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jurnal Umum</title>
    <link rel="stylesheet" th:href="@{/css/page.css}">
</head>
<body>
    <div class="container">
      <div class="navigasi">

        <ul>
          <li class=" judul">
            <span class="judul">Payroll & PPH21</span>
                  <hr>
          </li>

          <li>
            <a th:href="@{/home}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
            </span>
              <span class="title">Halaman Utama </span>
            </a>
          </li>

          <li >
            <a th:href="@{/information}">
              <span class="icon">
                <ion-icon name="information-circle-outline"></ion-icon>
              </span>
              <span class="title">Informasi</span>
  
            </a>
          </li>

          <li>
            <a th:href="@{/employee}">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </span>

              <span class="title">Karyawan</span>
            </a>
          </li>

          <li>
            <a th:href="@{/payroll}">
              <span class="icon">
                <ion-icon name="cash-outline"></ion-icon>
            </span>

              <span class="title">Daftar Gaji</span>
            </a>
          </li>

          <li>
            <a th:href="@{/show-tax-calculation}">
              <span class="icon">
                <ion-icon name="calculator-outline"></ion-icon>
              </span>
              <span class="title">Perhitungan Pajak</span>
            </a>
          </li>

          <li>
            <a th:href="@{/paymentJournal}">
              <span class="icon">
                <ion-icon name="journal-outline"></ion-icon>
              </span>
              <span class="title">Jurnal Pembayaran</span>
            </a>
          </li>
          <li>
            <a th:href="@{/login}">
              <span class="icon"
                ><ion-icon name="log-out-outline"></ion-icon
              ></span>
              <span class="title">Keluar</span>
            </a>
          </li>
        </ul>
      </div>
  
    </div>
    <div class="main">
        <div class="topbar">
            <div class="togle">
              <div class="icon">=</div>
            </div>
            <!-- <div class="search">
              <form action="#">
                <label for="">
                  <input
                    type="text"
                    placeholder="search berdasarkan nama..."
                    name="search"
                  />
                </label>
              </form>
            </div>
   -->
            <div class="filter">
              <!-- <a >
                <button>Sort By Name</button>
              </a> -->
              <button>Ekspor PDF</button>
            </div>
          </div>
          <div class="container-data">
            <form action="">
              <label for="">Dari Tanggal </label>
              <input type="date">
              <label for="">sampai Tanggal</label>
              <input type="date">
            </form>
            <h1>Jurnal Pencataan Gaji</h1>
            <table>
              <thead>
                  <tr>
                      <th>No Bukti</th>
                      <th>Nama Akun dan Keterangan</th>
                      <th>No Akun</th>
                      <th> Debit</th>
                      <th> Kredit</th>
                  </tr>
              <tbody>
                  <th:block>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Utang Gaji</td>
                          <td></td>
                          <td th:text="${bebanGaji}"></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td>Beban Gaji</td>
                          <td></td>
                          <td></td>
                          <td th:text="${bebanGaji}"></td>
                      </tr>
                  
                  </th:block>
              </tbody>
              </thead>
          </table>

          <h1>Jurnal Pencataan PPH21</h1>
          <table>
            <thead>
                <tr>
                    <th>No Bukti</th>
                    <th>Nama Akun dan Keterangan</th>
                    <th>No Akun</th>
                    <th> Debit</th>
                    <th> Kredit</th>
                </tr>
            <tbody>
                <th:block>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Utang Gaji</td>
                        <td></td>
                        <td th:text="${utangPph21}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Beban Gaji</td>
                        <td></td>
                        <td></td>
                        <td th:text="${utangPph21}"></td>
                    </tr>
                
                </th:block>
            </tbody>
            </thead>
        </table>


            <h1>Jurnal Pembayaran Gaji</h1>

            <table>
                <thead>
                    <tr>
                        <th>No Bukti</th>
                        <th>Nama Akun dan Keterangan</th>
                        <th>No Akun</th>
                        <th> Debit</th>
                        <th> Kredit</th>
                    </tr>
                <tbody>
                    <th:block>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Beban Gaji</td>
                            <td></td>
                            <td th:text="${bebanGaji}"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Utang PPh pasal 21</td>
                            <td></td>
                            <td></td>
                            <td th:text="${utangPph21}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Utang Gaji</td>
                            <td></td>
                            <td></td>
                            <td th:text="${utangGaji}"></td>
                        </tr>
                    
                    </th:block>
                </tbody>
                </thead>
            </table>
          </div>
    </div>
    <script src="/js/script.js"></script>

    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>


</body>
</html>