<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Payroll page</title>
    <link rel="stylesheet" th:href="@{/css/page.css}" />
  </head>

  <body>
    <div class="container">
      <div class="navigasi">

        <ul>
          <li class=" judul">

            <span class="judul">Payroll & PPH21</span>
                  <hr>
          </li>

          <li>
            <a th:href="@{/home}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
            </span>
              <span class="title">Halaman Utama </span>
            </a>
          </li>

          <li >
            <a th:href="@{/information}">
              <span class="icon">
                <ion-icon name="information-circle-outline"></ion-icon>
              </span>
              <span class="title">Informasi</span>
  
            </a>
          </li>

          <li>
            <a th:href="@{/employee}">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </span>

              <span class="title">Karyawan</span>
            </a>
          </li>

          <li>
            <a th:href="@{/payroll}">
              <span class="icon">
                <ion-icon name="cash-outline"></ion-icon>
            </span>

              <span class="title">Daftar Gaji</span>
            </a>
          </li>

          <li>
            <a th:href="@{/show-tax-calculation}">
              <span class="icon">
                <ion-icon name="calculator-outline"></ion-icon>
              </span>
              <span class="title">Perhitungan Pajak</span>
            </a>
          </li>

          <li>
            <a th:href="@{/paymentJournal}">
              <span class="icon">
                <ion-icon name="journal-outline"></ion-icon>
              </span>
              <span class="title">Jurnal Pembayaran</span>
            </a>
          </li>
          <li>
            <a th:href="@{/login}">
              <span class="icon"
                ><ion-icon name="log-out-outline"></ion-icon
              ></span>
              <span class="title">Keluar</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
        <div class="topbar">
          <div class="togle">
            <div class="icon"><ion-icon name="menu-outline"></ion-icon></div>
          </div>
          <!-- <div class="search">
            <form action="#">
              <label for="">
                <input
                  type="text"
                  placeholder="search berdasarkan nama..."
                  name="search"
                />
              </label>
            </form>
          </div> -->

          <div class="filter">
            <a>
              <button>Sort By Name</button>
            </a>
          </div>
        </div>

        <div class="container-data">
          <h1 class="title-h1">Halaman Daftar Penggajian Karyawan</h1>
          <th:block th:each="payroll : ${payrolls}">
            <h3 >Nama karyawan : <span th:text="${payroll.employee.name}"></span></h3>
            <table >
                <thead>
                    <tr>
                        <th >Data Karyawan</th>
                        <th>Informasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Periode Pembayaran</td>
                        <td th:text="${payroll.payPeriod}"></td>
                    </tr>
                    <tr>
                      <td>Tanggal Pembayaran</td>
                      <td th:text="${payroll.paymentDate}"></td>
                    </tr>
                        <tr>
                            <td> Gaji Pokok </td>
                            <td >Rp. <span th:text="${payroll.employee.basicSalary}"></span></td>
                        </tr>
            
                    <tr>
                        <td>Tunjangan - Tunjangan</td>
                        <td >Rp. <span th:text="${payroll.employee.allowances}"></span></td>
                    </tr>
                    <tr>
                        <td> <strong>Ditambah Dengan Premi yang dibayarkan Perusahaan</strong></td>
                    </tr>
                    <tr>
                        <td>Premi JKK</td>
                        <td >Rp. <span th:text="${payroll.jkkPremium}"></span></td>
                    </tr>
                    <tr>
                        <td>Premi JKM </td>
                        <td >Rp. <span th:text="${payroll.jkmPremium}"></span></td>
                    </tr>
                    <tr>
                        <td>Premi JPK </td>
                        <td >Rp. <span th:text="${payroll.jpkPremium}"></span></td>
                    </tr>
                    <tr>
                        <td>Pendapatan Kotor</td>
                        <td > Rp. <span th:text="${payroll.grossIncome}"></span></td>
                    </tr>
                    <tr>
                        <td> <strong>Dikurangi</strong></td>
                     </tr>
                    <tr>
                        <td>Biaya Jabatan(5% dari penghasilan bruto)</td>
                        <td > (Rp. <span th:text="${payroll.positionCost}"></span>)</td>
                    </tr>
                    <tr>
                      <td>Premi JHT yg dibayar Karyawan </td>
                      <td >(Rp. <span th:text="${payroll.jhtPremium}"></span>)</td>
                    </tr>
                    <tr>
                        <td>Pendapatan Bersih sebulan</td>
                        <td > Rp. <span th:text="${payroll.netIncomeMonthly}"></span></td>
                    </tr>
                    <tr>
                        <td>Pendapatan Bersih setahun</td>
                        <td >Rp. <span th:text="${payroll.netIncomeYearly}"></span></td>
                    </tr>

                   <tr>
                    <td>
                      <a th:href="@{'/add-tax-calculation/' + ${payroll.id}}" class="btn-action">Hitung pajak</a>
                      <a th:href="@{'/update-payroll/' + ${payroll.id}}" class="btn-action">Update</a>
                    
                    </td>
                   </tr>
                </tbody>
                
            </table>
        </th:block>

        </div>
      </div>   
     </div>
     
    <script src="/js/script.js"></script>
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>

  </body>
</html>
