<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <div class="container">
      <div class="navigasi">
        <ul>
          <li>
            <a href="#">
              <span class="">Payroll & PPH21</span>
              <img width="70px" height="60px" src="/images/tax1.jpg" alt="" />
            </a>
          </li>

          <li>
            <a th:href="@{/home}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
            </span>
              <span class="title">Home</span>
            </a>
          </li>

          <li>
            <a th:href="@{/employee}">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </span>

              <span class="title">Employee</span>
            </a>
          </li>

          <li>
            <a th:href="@{/payroll}">
              <span class="icon">
                <ion-icon name="cash-outline"></ion-icon>
            </span>

              <span class="title">Payroll</span>
            </a>
          </li>

          <li>
            <a th:href="@{/taxCalculation}">
              <span class="icon">
                <ion-icon name="calculator-outline"></ion-icon>
              </span>
              <span class="title">Tax Calculation</span>
            </a>
          </li>

          <li>
            <a th:href="@{/paymentJournal}">
              <span class="icon">
                <ion-icon name="journal-outline"></ion-icon>
              </span>
              <span class="title">Payment Journal</span>
            </a>
          </li>
          <li>
            <a th:href="@{/registrasi}">
              <span class="icon"
                ><ion-icon name="log-out-outline"></ion-icon
              ></span>
              <span class="title">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="main">
        <div class="containerr-home">
          <div class="cardBox">
            <div class="card">
              <div>
                <div class="numbers">
                  <h3 th:text="${totalEmployees}"></h3>
                </div>
                <div class="cardName">Jumlah Karyawan</div>
                <div class="iconBx">
                  <ion-icon name="people-outline"></ion-icon>
                </div>
              </div>
              <div class="dashboard-img">
                <img src="/images/tax3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
